//FONT FAMILIES
$serif: 'Domine', serif;
$sans-serif: 'Inter', sans-serif;

//FONT WEIGHTS
$serif-regular: 400;
$serif-bold: 700;
$sans-serif-extra-light: 200;
$sans-serif-regular: 400;
$sans-serif-bold: 700;

//COLORS
$dark-gray: #4f4f4f;
$light-gray: #bdbdbd;
$orange: #f2994a;