@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@200;400&display=swap');
@import "mixins";

html {
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}

body {
    width: 95%;
    margin: 0 auto;
}

header {
    width: 100%;
    margin-top: 3.5rem;

    h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    div {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: .5rem;
            text-transform: uppercase;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
}

@include card(30%, 35%);

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;

    .card {
        width: 100%;
        
        img {
            width: 90%;
            height: auto;
        }

        p {
            position: relative;
            transform: rotate(90deg);
            left: 45%;
            text-transform: uppercase;
            font-size: 1rem;
            margin-left: .5rem;
        }

        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 1rem;
        }
    }

    .card:nth-child(2n) {
        margin-top: 4rem;
    }
}

footer {
    margin-top: 5rem;
    margin-bottom: 1rem;

    p {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: gray;
    }
}



@import "responsive";