@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,400&family=Montserrat:wght@300;400;500;600&display=swap');
@import "vars";

//BACKGROUND COLORS
// header {
//     background-color: aqua;
//     .header {
//         background-color: blanchedalmond;
//         h1 {
//             background-color: brown;
//         }
//     }
//     .container {
//         background-color: chocolate;
//         .menu {
//             background-color: cornflowerblue;
//             .item {
//                 background-color: crimson;
//             }
//         }
//     }
// }
// .main-info {
//     background-color: blue;
//     .info {
//         background-color: brown;
//         h2 {
//             background-color: chartreuse;
//         }
//         p {
//             background-color: chocolate;
//         }
//         a {
//             background-color: crimson;
//             span {
//                 background-color: cyan;
//             }
//             i {
//                 background-color: darkgoldenrod;
//             }
//         }
//     }
//     .interior {
//         background-color: cadetblue;
//         img {
//             background-color: darkgreen;
//         }
//     }
// }






html {
    font-size: 16px;
}

body {
    background-color: $dark;
    padding: 2.5rem 5rem;
}

header {
    color: $light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .header {
        padding: .8rem;
        border: 1px solid $light;

        h1 {
            font-family: $serif-font;
            font-weight: $serif-light;
        }
    }

    .container {
        font-family: $sans-serif-font;
        font-weight: $sans-serif-regular;
        align-self: center;

        .menu {
            display: flex;
            flex-direction: row;

            a {
                text-decoration: none;

                .item {
                    margin: 0 3rem;
                    color: $light;
                    transition: all .2s linear;
                    width: 7rem;
                    height: 1rem;
                    text-align: right;
                    font-size: 1.1rem;
    
                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        font-weight: $sans-serif-semi-bold;
                    }
                }
    
                .active {
                    font-weight: $sans-serif-semi-bold;
                }
            }
        }
    }
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7.5rem;

    .info {
        width: 36%;
        margin-right: 4%;

        h2 {
            color: $light;
            font-family: $serif-font;
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        p {
            font-family: $sans-serif-font;
            color: $light;
            font-weight: $sans-serif-light;
            font-size: 1.5rem;
            letter-spacing: .1rem;
            line-height: 2rem;
            margin-bottom: 3rem;
        }

        a {
            color: $light;
            text-decoration: none;
            font-size: 1.15rem;
        }
    }

    .interior {
        width: 60%;
        
        img {
            width: 100%;
            height: auto;
        }
    }
}