//FONT FAMILIES
$serif-font: 'Merriweather', serif;
$sans-serif-font: 'Montserrat', sans-serif;

//FONT WEIGHTS
$serif-light: 300;
$serif-regular: 400;
$serif-black: 900;

$sans-serif-light: 300;
$sans-serif-regular: 400;
$sans-serif-medium: 500;
$sans-serif-semi-bold: 600;

//COLORS
$dark: #181719;
$light: #ffffff;